@inherits DialogHostBase
@inject IStyled Styled
@using BlazorComponents.Pages

<Styled @bind-Classname="@_DialogHostHidden">
    display: none;
</Styled>
<Styled @bind-Classname="@_DialogHost"
        ComposeHidden="@_DialogHostHidden" ComposeHiddenIf="@(DialogsService.Dialogs.Count == 0)">
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
</Styled>

<div class="@_DialogHost">
    @foreach (DialogContext context in DialogsService.Dialogs) {
        <DialogComponent Identifier="@context.Identifier"></DialogComponent>
    }
</div>

@code {
    private string _DialogHostHidden;
    private string _DialogHost;
}